.home {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: calc(90vh - (#{$spacing-unit} * 4));
    padding: $spacing-unit 0;
    .flex-container {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        .left {
            width: 35%;
            text-align: center;
        }

        .right {
            width: 65%;
            text-align: left;
        }

        // change max-width to a pre-defined breakpoint variable
        @media screen and (max-width: $on-large) {
            .column {
                width: 100%;
            }
            .right {
                text-align: center;
            }
            .dot {
                width: 45%;
            }
            .social-media-list {
                margin-top: 5px;
                margin-bottom: 0px;
            }
        }
    }

    h1 {
        font-size: $base-font-size * 3;
    }

    span {
        font-weight: 300;
        font-size: 1.7em;
        em {
            font-weight: 400;
            font-style: normal;
        }
    }

    .dot {
        padding: 5px;
        border: 2px solid $brand-color;
        border-radius: 50%;
        height: auto;
        width: 70%;
        margin-top: $spacing-unit / 2;
        margin-bottom: $spacing-unit;
    }

    .social-links {
        max-width: calc(70% + 10px);
        margin-left: auto;
        margin-right: auto;
    }

    .social-media-list {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        flex-direction: row;
        // margin: 0 auto;
        // text-align: center;
        li {
            float: left;
            margin: 0 5px;
            &:last-of-type {
                margin-right: 0;
            }
            a {
                display: block;
                padding: 5px;
                // border: 1px solid $border-color-01;
                &:hover {
                    border-color: $border-color-02;
                }
                svg {
                    transform: scale(2);
                }
            }
        }
    }
}

.content-block {
    min-height: calc(100vh - (#{$spacing-unit} * 2));
    padding: $spacing-unit 0;
}
