.page-content {
    // padding: $spacing-unit 0;
    flex: 1 0 auto;
}

.page-heading {
    @include relative-font-size(2);
}

.post-list-heading {
    @include relative-font-size(1.75);
}

.post-list {
    margin-left: 0;
    list-style: none;

    > li {
        margin-bottom: $spacing-unit;
    }
}

.post-meta {
    font-size: $small-font-size;
    color: $brand-color;
}

.post-link {
    display: block;
    @include relative-font-size(1.5);
}

.view-all {
    font-weight: 400;
    display: block;
    color: $text-color !important;
    text-align: center;
    @include relative-font-size(1.7);
}
