---
layout: default
---

<div class="home">
  <!-- {%- if page.alttitle -%}
  <h1 class="page-heading">{{ page.alttitle }}</h1>
  {%- endif -%} -->
  <div class="flex-container">
    {% if site.author.thumb %}
    <div class="column left">
      <!-- <img src="{{ site.author.thumb | prepend: '/' | prepend: site.baseurl }}" alt="author thumb" ,
        class="dot miniscule-logo"> -->
      <img src="{{ page.thumb }}" alt="author thumb" class="dot">

      <div class="social-links">
        {%- include social.html -%}
      </div>
    </div>
    {% endif %}

    <div class="column right">
      <h1>{{ page.landing-title }}</h1>
      <h3>{{ page.landing-description }}</h3>
    </div>
  </div>

</div>

{{ content }}